In [20]:
import datetime
import pandas as pd

In [23]:
stockcode ='RELIANCE'

ts1 = str(int(datetime.datetime(2020, 7, 20).timestamp())) 
ts2 = str(int(datetime.datetime(2020, 7, 25).timestamp()))

#interval = '1d'
interval = '1wk'
#interval = '1mo'

events = 'history'
#events = 'div'
#events = 'split'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/RELIANCE.NS?period1=1595183400&period2=1595615400&interval=1wk&events=history
1595183400 1595615400

In [24]:
stockdata = pd.read_csv(url)
stockdata

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-07-20,1917.800049,2079.699951,1899.650024,2057.800049,2057.800049,90856174
1,2020-07-24,2058.000000,2163.000000,2057.800049,2146.149902,2146.149902,55648411